<launch>
    <node name="VisionController" pkg="robot_kinematica" type="VisionController"  output="screen"/>
    <node name="RobotController" pkg="robot_kinematica" type="RobotController" output="screen" />
    <node name="Al5dController" pkg="robot_kinematica" type="Al5dController" output="screen" args="/dev/ttyUSB0"/>
</launch>

